<div class="resize-quick-view">
  <fd-card style="height: auto; overflow: auto;">
    <fd-card-header>
      <h2 fd-card-title>Historie</h2>
    </fd-card-header>
    <fd-card-content>
      <div fd-scrollbar>
        <fd-timeline [dataSource]="data" [axis]="axis" [layout]="layout">
          <fd-timeline-node *fdTimelineNodeDef="let node" [glyph]="node.glyph">
            <fd-timeline-node-header>
              <fd-timeline-node-header-info>
                <span fdTimelineNodeHeaderInfoTitle>{{ node.service.name }}</span>
                <span fdTimelineNodeHeaderInfoText>{{ node.title }}</span>
                <div fdTimelineHeaderInfoSubTitle>{{ node.date | date: 'short' }}</div>
                <span fdTimelineNodeHeaderInfoText>{{ node.status }}</span>
              </fd-timeline-node-header-info>
            </fd-timeline-node-header>
            <fd-timeline-node-body [content]="node.post"></fd-timeline-node-body>
          </fd-timeline-node>
        </fd-timeline>
      </div>
    </fd-card-content>
  </fd-card>
</div>
