<fd-layout-grid>
  <div fdLayoutGridRow>
    <div [fdLayoutGridCol]="6">
      <contact-info-card></contact-info-card>
    </div>
    <div [fdLayoutGridCol]="6">
      <billing-data-card></billing-data-card>
    </div>
  </div>

  <div fdLayoutGridRow>
    <div [fdLayoutGridCol]="6">
      <supply-contracts-card></supply-contracts-card>
    </div>
  </div>

  <div fdLayoutGridRow>
      <div [fdLayoutGridCol]="6">
        <other-contracts-card></other-contracts-card>
      </div>
    <div [fdLayoutGridCol]="6">
       <history-card></history-card>
    </div>
  </div>
</fd-layout-grid>
