<fd-card cardType="object" class="docs-flex-item-margin">
  <fd-card-header>
    <fd-avatar
      image="http://picsum.photos/id/1018/400"
      [circle]="true"
      size="s"
      ariaLabel="avatar image"
      title="avatar image"
    ></fd-avatar>
    <h3 fd-card-title><strong>Reg. Produktion Ladestation</strong></h3>
  </fd-card-header>
  <fd-card-content>
    <div class="fd-card__content-container">
      <div class="fd-card__content-section">
        <div class="fd-card__content-group">
          <div class="fd-card__content-group-text">
            <span>Laufzeit</span>
            <span>01.10.2023 - 31-12-9999</span>
          </div>
        </div>
        <div class="fd-card__content-group">
          <div class="fd-card__content-group-text">
            <span>Seriennummer</span>
            <span>1A2B3C</span>
          </div>
        </div>
      </div>
    </div>
  </fd-card-content>
</fd-card>
